/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.7;
  padding: 30px;
  color: #777;
}
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.7),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  height: 95vh;
  background-size: cover;
  /* it wil cover the width and according to its 95% viewport. */
  background-size: top; /* fixed from top */
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* polygon( x y , x y , x y, x y ) clock wise | ref: https://bennettfeely.com/clippy/ */
  position: relative; /* for logo box position */
}
.logo-box {
  position: absolute;
  top: 25px;
  left: 40px;
}
.logo {
  height: 30px;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
}
.heading-primary-title {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  backface-visibility: hidden; /* for stopping animations shakky */

  /* animation: moveInLeft 1s ease-in; shortfrom */
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 14px;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    /* -100px means it will move 100px left from its original position, if it is moved left that's why value is minus */
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
    /* -100px means it will move 100px left from its original position, if it is moved left that's why value is minus */
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
