.footer {
  background-color: $color-grey-dark-1;
  padding: 10rem 0;
  color: $color-white;
  font-size: 1.5rem;

  @include respond(tab-land) {
    padding: 8rem 4rem;
  }
  @include respond(tab-port) {
    padding: 8rem 0;
  }
  @include respond(phone) {
    padding: 8rem 0;
  }

  &-logo-box {
    text-align: center;
  }

  &-logo {
    width: 15rem;
    height: auto;
  }

  &-navigation {
    border-top: 1px solid $color-grey;
    padding-top: 3rem;
    display: inline-block; // this is used for the border | border width has to be the navigation items width.

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
    @include respond(phone) {
      width: 100%;
      text-align: center;
    }
  }

  &-list {
    list-style: none;
  }

  &-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &-link {
    &:link,
    &:visited {
      color: inherit; // inherit from footer section
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      backface-visibility: hidden; // for smooter animation
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
      transform: rotate(5deg) scale(1.1);
    }
  }

  &-copyright {
    border-top: 1px solid $color-grey;
    padding-top: 3rem;
    width: 80%;
    display: inline-block; // this is used for the border | border width has to be the navigation items width.
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
    @include respond(phone) {
      width: 100%;
      float: none;
    }

  }
}
