@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//  MEDIA QUERY MANEGER

/*

0-600px : Phone
600-900px : Tablet portrait
900-1200px : Tablet landscape
[1200-1800px] is where our normal styles apply
1800 + : Big Desktop

*/

// a simple mixin looks like this:

// @mixin respond-phone {
//     @media(max-width: 600px){@content};
//     //respond-phone have to be included when use
//     // @content is the place where we have to write our content
// }


// IMPORTANT: IF WE WANT TO CHANGE UNIT TO REM WE CANT BCZ MEDIA QUERY DO NOT SUPPORT REM( 10PX == 1 REM)
// IT WILL CONSIDER REM == 16PX | SO BEST PRACTICE IS TO USE EM UNIT | EM == DEFAULT 16PX

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

// this will work faster
