.btn:visited, .btn:link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /* for blocking the element */
  border-radius: 10rem;
  animation-name: moveInBottom;
  animation-duration: 1s;
}

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem);
  /* if value got  minus it will move to to up because its 2d plane and starts from (0,0) */
}

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #28b485;
  border-bottom: 1px solid #28b485;
  padding: .3rem;
}

.btn-text:hover {
  color: #fff;
  background-color: #28b485;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
