// @import "../abstract/variable";

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh; // we specified polygon 75vh and main viewport is 95vh | so we have to move up the about section 95-75 = 20vh
}
.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.9),
      rgba($color-primary-light, 0.8)
    ),
    url(../img/nat-4.jpg);
    background-size: cover;
  //THIS IS THE OLDER METHOD WE USED IN HEAD SECTION

  //   clip-path: polygon(
  //   0 15vh,
  //   100% 0,
  //   100% 85vh,
  //   0 100%
  // );
  // margin-top: -10rem; 

  // BOTH OF THE METHOD ARE FINE

  // LETS FIND OUT HOW THIS METHOD BELOW WORKS

  // if we transform the whole section ( feature section) -7 deg it will turn like this.
  // but the prob arise everything in the sec turned -7 deg. thats look like odd.

  transform : skewY(-7deg);
  margin-top: -10rem;
  // to solve this problem . we select the class by & and ">" refers the children of the element which is .row
  // the meaning of this thing is & > * (  direct child of this section feature as ".row" you again turned into 7deg(plus 7)
  // then our problem got solved 
  & > * {
    transform : skewY(7deg);
  }
}

.section-tours{
  background-color: $color-grey-light-1;
  padding: 25rem 0 2rem 0;
  margin-top: -10rem; // for moving up the whole section into previous section.
}

.section-stories{
  padding: 15rem;
  position: relative; // for video position.
}